# Resulting binaries
addrxlat
attriter
checkattr
clearattr
dumpdata
mkdiskdump
mkelf
mklkcd
multiread
privptr
subattr
thread-errstr
vmci-cleanup
vmci-lines-post
vmci-post
vtop

# Test results
*.log
*.trs

# Test output files
out
