# Resulting binaries
addrmap
addrxlat
attriter
checkattr
clearattr
custom-meth
dumpdata
elf-prstatus-mod-x86_64
err-addrxlat
fdset
mkbinary
mkdiskdump
mkelf
mklkcd
mksadump
multiread
multixlat
nometh
privptr
subattr
sys-xlat
thread-errstr
typed-attr
vmci-cleanup
vmci-lines-post
vmci-post
xlatmap
xlatop
xlat-os

# Test results
*.log
*.trs

# Test output files
out
